.new{
  background-color: rgba(106, 185, 106, 0.589) !important;
}

tr{
  overflow: auto;
}

td{
  color: #424242 !important;
}

th{
  color: #212121 !important;
}

.dark{
  color: black !important;
}
