<form [formGroup]="changePasswordForm" class="text-center" style="color: #757575;" (ngSubmit)="changePassword()">

  <div class="md-form mt-0">
    <input mdbInput type="password" class="form-control" formControlName="password">
    <label for="password">{{"my-account.password" | translate}}</label>
    <mdb-error *ngIf="form.password.invalid && (form.password.dirty || form.password.touched)">
      {{'my-account.passwordMinLength' | translate}}
    </mdb-error>
  </div>

  <div class="md-form mt-0">
    <input mdbInput type="password" class="form-control" formControlName="newPassword">
    <label for="newPassword">{{"my-account.newPassword" | translate}}</label>
    <mdb-error *ngIf="form.newPassword.invalid && (form.newPassword.dirty || form.newPassword.touched)">
      <span> {{'my-account.passwordMinLength' | translate}} </span>
    </mdb-error>
  </div>

  <div class="md-form mt-0">
    <input mdbInput type="password" class="form-control" formControlName="newPasswordConfirmation">
    <label for="newPasswordConfirmation">{{"my-account.confirmNewPassword" | translate}}</label>
    <mdb-error
      *ngIf="form.newPasswordConfirmation.invalid && (form.newPasswordConfirmation.dirty || form.newPasswordConfirmation.touched)">
      <span *ngIf="form.newPasswordConfirmation.errors.required">{{'my-account.passwordMinLength' | translate}}</span>
      <span
        *ngIf="form.newPasswordConfirmation.errors.mustMatch && !form.newPasswordConfirmation.errors.email">{{'my-account.passwordMustMatch' | translate}}</span>
    </mdb-error>
  </div>

  <button class="btn btn-info btn-block my-4" type="submit" [disabled]="!changePasswordForm.valid">{{"my-account.submit" | translate}}</button>
</form>
