<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand font-weight-bold" href="#">{{"homepage" | translate}}</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <!-- Left side links -->
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" *ngIf="isLogged" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          {{'companies.basic' | translate}}<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="company-list">{{'companies.list' |
            translate}}</a>
          <div class="divider dropdown-divider" *ngIf="isLogged && (userRole == 'ADMIN' || userRole == 'USER')"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect
            *ngIf="isLogged && (userRole == 'ADMIN' || userRole == 'USER')" routerLink="company-add">{{'companies.add' |
            translate}}</a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="isLogged" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          {{'jobs.basic' | translate}}<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="job-offer-list">{{'jobs.list' |
            translate}}</a>
          <div class="divider dropdown-divider" *ngIf="isLogged && (userRole == 'HR' || userRole == 'ADMIN')"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect
            *ngIf="isLogged && (userRole == 'HR' || userRole == 'ADMIN')" routerLink="add-job-offer">{{'jobs.add' |
            translate}}</a>
        </div>
      </li>
      <li class="nav-item dropdown" dropdown *ngIf="isLogged && userRole != 'CEO'">
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          {{'recruitment.basic' | translate}}<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light bold" mdbWavesEffect
            *ngIf="isLogged && (userRole == 'USER' || userRole == 'ADMIN')"
            routerLink="quiz-solve">{{'recruitment.solveTestB' |
            translate}}</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" *ngIf="isLogged && (userRole == 'HR' || userRole == 'ADMIN')"
            mdbWavesEffect routerLink="quiz-create-panel">{{'recruitment.add' |
            translate}}</a>
        </div>
      </li>
    </ul>
    <!-- Left side links -->

    <!-- Right side links -->
    <ul class="navbar-nav ml-auto">
      <!-- User notifications -->
      <div class="btn-group" *ngIf="isLogged && (userRole=='USER' || userRole=='ADMIN')" mdbDropdown>
        <a mdbDropdownToggle gtm-id="Notifications" class="nav-link dropdown-toggle waves-effect" alt="Notifications"
          id="navbarNotification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span *ngIf="userAlerts != 0" id="navbarNotificationCounter" class="badge rounded red z-depth-1"
            alt="Notifications">{{userAlerts}}</span>
          <i class="fas fa-bell" alt="Notifications"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" id="navbarNotificationContent"
          aria-labelledby="navbarDropdownMenuLink" style="width: 250px;">
          <a class="dropdown-item text-wrap" routerLink="/user-panel">
            <p class="mb-0">You have {{userAlerts}} new notification(s)</p>
          </a>
        </div>
      </div>
      <!-- HR notifications -->
      <div class="btn-group" *ngIf="isLogged && (userRole=='HR' || userRole=='ADMIN')" mdbDropdown>
        <a mdbDropdownToggle gtm-id="Notifications" class="nav-link dropdown-toggle waves-effect" alt="Notifications"
          id="navbarNotification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span *ngIf="userAlerts != 0" id="navbarNotificationCounter" class="badge rounded red z-depth-1"
            alt="Notifications">{{hrAlerts}}</span>
          <i class="fas fa-bell" alt="Notifications"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" id="navbarNotificationContent"
          aria-labelledby="navbarDropdownMenuLink" style="width: 250px;">
          <a class="dropdown-item text-wrap" routerLink="/hr-panel">
            <p class="mb-0">You have {{hrAlerts}} new notification(s)</p>
          </a>
        </div>
      </div>
      <li class="nav-item">
        <a class="nav-link waves-light" *ngIf="isLogged && userRole=='ADMIN'" mdbWavesEffect routerLink="admin-panel">
          <mdb-icon fas icon="cog"></mdb-icon> {{'panel.admin' | translate}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" *ngIf="isLogged && (userRole=='CEO' || userRole=='ADMIN')" mdbWavesEffect
          routerLink="ceo-panel">
          <mdb-icon fas icon="cog"></mdb-icon> {{'panel.ceo' | translate}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" *ngIf="isLogged && (userRole=='HR' || userRole=='ADMIN' || userRole=='CEO')"
          mdbWavesEffect routerLink="hr-panel">
          <mdb-icon fas icon="cog"></mdb-icon> {{'panel.hr' | translate}}
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link waves-light" routerLink="contact" mdbWavesEffect>
          <mdb-icon fas icon="envelope"></mdb-icon>{{'contact.normal' | translate}}
        </a>
      </li>
      <!-- Dropdown -->
      <li class="nav-item dropdown" *ngIf="isLogged" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <!-- TODO currentUser and currentUserAvatar -->
          <mdb-icon fas icon="user"></mdb-icon>{{'profile' | translate}}<span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect>{{'my-account.hello' | translate}}{{userLogin}}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="my-account">{{'my-account.basic' |
            translate}}</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="settings-panel">{{'settings' | translate}}</a>
          <a class="dropdown-item waves-light" mdbWavesEffect (click)="logout()">{{'log-out' | translate}}</a>
        </div>
      </li>

    </ul>
    <!-- Right side links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
