<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand font-weight-bold" href="#">{{"homepage" | translate}}</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <!-- Left side links -->
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          {{'companies.basic' | translate}}<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">{{'companies.best' | translate}}</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">{{'companies.industries' | translate}}</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">{{'companies.list' | translate}}</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect
            routerLink="company-add">{{'companies.add' | translate}}</a>
        </div>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          {{'jobs.basic' | translate}}<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">{{'jobs.list' | translate}}</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">{{'jobs.add' | translate}}</a>
        </div>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          {{'recruitment.basic' | translate}}<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light bold" mdbWavesEffect
            routerLink="quiz-solve">{{'recruitment.solveTestB' | translate}}</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">{{'recruitment.pre' | translate}}</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">{{'recruitment.open' | translate}}</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">{{'recruitment.add' | translate}}</a>
        </div>
      </li>
    </ul>
    <!-- Left side links -->

    <!-- Right side links -->
    <ul class="navbar-nav ml-auto" *ngIf="isLogged">
      <li class="nav-item">
        <a class="nav-link waves-light" *ngIf="isLogged && userRole=='ADMIN'" mdbWavesEffect routerLink="admin-panel">
          <mdb-icon fas icon="cog"></mdb-icon> {{'panel.admin' | translate}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" *ngIf="isLogged && (userRole=='CEO' || userRole=='ADMIN')" mdbWavesEffect
          routerLink="ceo-panel">
          <mdb-icon fas icon="cog"></mdb-icon> {{'panel.ceo' | translate}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" *ngIf="isLogged && (userRole=='HR' || userRole=='ADMIN' || userRole=='CEO')"
          mdbWavesEffect routerLink="hr-panel">
          <mdb-icon fas icon="cog"></mdb-icon> {{'panel.hr' | translate}}
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect>
          <mdb-icon fas icon="envelope"></mdb-icon>{{'contact' | translate}}<span class="sr-only">(current)</span>
        </a>
      </li>
      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <!-- TODO currentUser and currentUserAvatar -->
          <mdb-icon fas icon="user"></mdb-icon>{{'profile' | translate}}<span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">{{'my-account' | translate}}</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="settings-panel">{{'settings' | translate}}</a>
          <a class="dropdown-item waves-light" mdbWavesEffect (click)="logout()">{{'log-out' | translate}}</a>
        </div>
      </li>

    </ul>
    <!-- Right side links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->