<div class="container">
  <div class="row">
      <div class="col-md-7 mx-auto">
          <div class="md-form">
              <input type="text" class="form-control" [(ngModel)]="searchText" (keyup)="searchItems()" id="search-input" mdbInput>
              <label for="search-input">{{ "search" | translate}}</label>
          </div>
      </div>
      <table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="true" striped="true" class="z-depth-1" hover="true">
          <thead class="sticky-top">
              <tr>
                  <th *ngFor="let header of headers; let i = index" [mdbTableSort]="applications" [sortBy]="headers[i]" scope="col">
                      {{header | titlecase}}
                      <mdb-icon fas icon="sort"></mdb-icon>
                  </th>
              </tr>
          </thead>
          <tbody #row>
              <tr mdbTableCol *ngFor="let application of applications; let i = index">
                  <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{application.alertId}}
                  </th>
                  <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{application.announcementTitle}}
                  </td>
                  <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{application.userLogin}}
                  </td>
                  <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{application.quizName}}
                  </td>
                  <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"><a *ngIf="application.cv" href={{application.cv}}>cv</a>
                  </td>
                  <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                    <app-quiz-assign-modal *ngIf="application.quizCode == null && application.quizName == null && application.quizId == null"
                    [userId]="application.userId" [userLogin]="application.userLogin" [alertId]="application.alertId" [announcementId]="application.announcementId" (click)="setAsRead(application.alertId)"></app-quiz-assign-modal>
                    <a *ngIf="application.quizCode">{{application.quizCode}}</a>
                  </td>
                  <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                    <p *ngIf="!application.quizFinished">{{ "hr.no" | translate}}</p>
                    <app-quiz-result-modal *ngIf="application.quizFinished" [userId]="application.userId" [quizId]="application.quizId"></app-quiz-result-modal>
                    <!-- <button *ngIf="application.quizFinished" (click)="getResults(application.userId, application.quizId)">Wynik</button> -->
                  </td>
              </tr>
          </tbody>
          <tfoot class="primary lighten-5 w-100">
              <tr>
                  <td colspan="7">
                      <mdb-table-pagination class="dark" [tableEl]="tableEl" paginationAlign="" [searchDataSource]="applications">
                      </mdb-table-pagination>
                  </td>
              </tr>
          </tfoot>
      </table>
  </div>
</div>

