<form [formGroup]="changePhoneNumberForm" class="text-center" style="color: #757575;" (ngSubmit)="changePhoneNumber()">

  <div class="md-form mt-0">
    <input mdbInput type="password" class="form-control" formControlName="password">
    <label for="password">{{"my-account.password" | translate}}</label>
    <mdb-error *ngIf="form.password.invalid && (form.password.dirty || form.password.touched)">
      {{'my-account.passwordMinLength' | translate}}
    </mdb-error>
  </div>

  <div class="md-form mt-0">
    <input mdbInput type="text" class="form-control" formControlName="phoneNumber">
    <label for="phoneNumber">{{"my-account.newPhoneNumber" | translate}}</label>
    <mdb-error *ngIf="form.phoneNumber.invalid && (form.phoneNumber.dirty || form.phoneNumber.touched)">
      <span> {{'my-account.phoneNumberMinimumLength' | translate}} </span>
    </mdb-error>
  </div>

  <div class="md-form mt-0">
    <input mdbInput type="text" class="form-control" formControlName="newPhoneNumberConfirmation">
    <label for="newPhoneNumberConfirmation">{{"my-account.confirmNewPhoneNumber" | translate}}</label>
    <mdb-error
      *ngIf="form.newPhoneNumberConfirmation.invalid && (form.newPhoneNumberConfirmation.dirty || form.newPhoneNumberConfirmation.touched)">
      <span *ngIf="form.newPhoneNumberConfirmation.errors.required">{{'my-account.phoneNumberMinimumLength' | translate}}</span>
      <span
        *ngIf="form.newPhoneNumberConfirmation.errors.mustMatch && !form.newPhoneNumberConfirmation.errors.email">{{'my-account.phoneNumberMustMatch' | translate}}</span>
    </mdb-error>
  </div>

  <button class="btn btn-info btn-block my-4" type="submit" [disabled]="!changePhoneNumberForm.valid">{{"my-account.submit" | translate}}</button>
</form>
