img {
  width: 30vh;
  height: 30vh;
  max-width: 30vh;
  max-height: 30vh;
}

a.fb-ic {
  color: #3b5998;
}

a.tw-ic {
  color: #00acee;
}

a.yt-ic {
  color: #c4302b;
}

a.ins-ic {
  color: transparent;
  background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

a.git-ic {
  color: #171515;
}

a.li-ic {
  color: #0e76a8;
}

a:hover {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
