/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  min-height: 100vh !important;
}

body {
  margin: 0;
  padding-top: 50px;
  background-image: linear-gradient(45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%),
                    url("./assets/backgrounds/background-01.jpg");
  background-size: cover;
  color: #ffffff;
}

@media (max-width: 768px) {
  body {
    padding-top: 5vh;
  }
  .navbar:not(.top-nav-collapse) {
    background: #3f51b5 !important;
  }
  .navbar:not(.top-nav-collapse) {
    background: transparent none;
  }
}

h5 {
  line-height: 1.7;
}

h6 {
  line-height: 1.9;
}

.app-inline-flex {
  display: inline-flex;
}

.app-flex-2-columns {
  min-width: 50%;
}

.intro-header {
  height: unset !important;
}

.view {
  height: 100vh !important;
}

.top-nav-collapse {
  background-color: #3f51b5 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

.rgba-gradient .full-bg-img {
  background: linear-gradient(45deg, rgba(83, 125, 210, 0.4), rgba(178, 30, 123, 0.4) 100%);
}

.full-bg-img {
  height: 100%;
}

.card {
  background-color: rgba(229, 228, 255, 0.2);
}

.md-form .prefix {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.md-form label {
  color: #ffffff;
}

.success-message {
  color: #0F4103 !important;
}

.error-message {
  color: #bb0f03 !important;
}
