<!-- Material form login -->
<div *ngIf="selectedForm=='login'" class="card">

  <h5 class="card-header info-color lighten-1 white-text text-center py-4">
    <strong>{{'sign-in' | translate}}</strong>
  </h5>

  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">

    <!-- Form -->
    <form [formGroup]="loginForm" class="text-center" style="color: #757575;" (ngSubmit)="loginSubmit()" action="#!">

      <!-- Login -->
      <div class="md-form">
        <input mdbInput type="text" id="materialLoginFormLogin" class="form-control" formControlName="login">
        <label for="materialLoginFormLogin">{{'login' | translate}}</label>
      </div>

      <!-- Password -->
      <div class="md-form mt-0">
        <input mdbInput type="password" id="materialLoginFormPassword" class="form-control" formControlName="password">
        <label for="materialLoginFormPassword">{{'password' | translate}}</label>
      </div>

      <div class="d-flex justify-content-around">
        <div>
          <!-- Remember me -->
          <div class="form-check">
            <input mdbInput type="checkbox" class="form-check-input" id="materialLoginFormRemember">
            <label class="form-check-label" for="materialLoginFormRemember">{{'remember-me' | translate}}</label>
          </div>
        </div>
        <div>
          <!-- Forgot password -->
          <a href="">{{'password-forgot' | translate}}</a>
        </div>
      </div>

      <!-- Sign in button -->
      <button class="btn btn-info btn-block my-4" type="submit">
        {{'sign-in!' | translate}}
      </button>

      <!-- Register -->
      <p>{{'not-a-member' | translate}}
        <a (click)="switchForm()">{{'sign-up!' | translate}}</a>
      </p>

    </form>
    <!-- Form -->

  </div>

</div>
<!-- Material form login -->

<!-- Material form register -->
<div *ngIf="selectedForm=='register'" class="card">

  <h5 class="card-header info-color lighten-1 white-text text-center py-4">
    <strong>{{'sign-up' | translate}}</strong>
  </h5>

  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">

    <!-- Form -->
    <form [formGroup]="registerForm" class="text-center" style="color: #757575;" (ngSubmit)="registerSubmit()"
      action="#!">

      <div class="form-row">
        <div class="col">
          <!-- Login -->
          <div class="md-form">
            <input mdbInput type="text" id="materialRegisterFormLogin" class="form-control" [(ngModel)]="user.login"
              [ngModelOptions]="{standalone: true}" formControlName="LoginReg">
            <label for="materialRegisterFormLogin">{{'login' | translate}}</label>
            <mdb-error *ngIf="f.LoginReg.invalid && (f.LoginReg.dirty || f.LoginReg.touched)">
              {{'login-required' | translate}}
            </mdb-error>
            <mdb-success *ngIf="f.LoginReg.valid && (f.LoginReg.dirty || f.LoginReg.touched)">
              {{'login-valid' | translate}}
            </mdb-success>
          </div>
        </div>
        <div class="col">
          <!-- First name -->
          <div class="md-form">
            <input mdbInput type="text" id="materialRegisterFormFirstName" class="form-control"
              [(ngModel)]="user.firstName" [ngModelOptions]="{standalone: true}" formControlName="fnameReg">
            <label for="materialRegisterFormFirstName">{{'first-name' | translate}}</label>
            <mdb-error *ngIf="f.fnameReg.invalid && (f.fnameReg.dirty || f.fnameReg.touched)">
              <span *ngIf="f.fnameReg.errors.required">{{'first-name-required' | translate}}</span>
            </mdb-error>
            <mdb-success *ngIf="f.fnameReg.valid && (f.fnameReg.dirty || f.fnameReg.touched)">
              {{'first-name-required-valid' | translate}}</mdb-success>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <!-- Middle name -->
          <div class="md-form">
            <input mdbInput type="text" id="materialRegisterFormMiddleName" class="form-control"
              [(ngModel)]="user.middleName" [ngModelOptions]="{standalone: true}">
            <label for="materialRegisterFormMiddleName">{{'middle-name' | translate}}</label>
          </div>
        </div>

        <div class="col">
          <!-- Last name -->
          <div class="md-form">
            <input mdbInput type="text" id="materialRegisterLastName" class="form-control" [(ngModel)]="user.surname"
              [ngModelOptions]="{standalone: true}" formControlName="lnameReg">
            <label for="materialRegisterFormLastName">{{'last-name' | translate}}</label>
            <mdb-error *ngIf="f.lnameReg.invalid && (f.lnameReg.dirty || f.lnameReg.touched)">
              <span *ngIf="f.lnameReg.errors.required">{{'last-name-required' | translate}}</span>
            </mdb-error>
            <mdb-success *ngIf="f.lnameReg.valid && (f.lnameReg.dirty || f.lnameReg.touched)">
              {{'last-name-required-valid' | translate}}</mdb-success>
          </div>
        </div>
      </div>

      <div class="form-row">
        <!-- E-mail -->
        <div class="col">
          <div class="md-form mt-0">
            <input mdbInput type="email" id="materialRegisterFormEmail" class="form-control" [(ngModel)]="user.email"
              [ngModelOptions]="{standalone: true}" formControlName="emailReg">
            <label for="materialRegisterFormEmail">{{'e-mail' | translate}}</label>
            <mdb-error *ngIf="f.emailReg.invalid && (f.emailReg.dirty || f.emailReg.touched)">
              <span *ngIf="f.emailReg.errors.required">{{'e-mail-required' | translate}}</span>
              <span *ngIf="f.emailReg.errors.email">{{'e-mail-invalid' | translate}}</span>
            </mdb-error>
            <mdb-success *ngIf="f.emailReg.valid && (f.emailReg.dirty || f.emailReg.touched)">
              {{'e-mail-valid' | translate}}
            </mdb-success>
          </div>
        </div>
        <!-- E-mail confirmation -->
        <div class="col">
          <div class="md-form mt-0">
            <input mdbInput type="email" id="materialRegisterFormEmailConformation" class="form-control"
              formControlName="emailConfirmReg">
            <label for="materialRegisterFormEmailConformation">{{'e-mail-confirm' | translate}}</label>
            <mdb-error *ngIf="f.emailConfirmReg.invalid && (f.emailConfirmReg.dirty || f.emailConfirmReg.touched)">
              <span *ngIf="f.emailConfirmReg.errors.required">{{'e-mail-required' | translate}}</span>
              <span
                *ngIf="f.emailConfirmReg.errors.email && !f.emailConfirmReg.errors.mustMatch">{{'e-mail-invalid' | translate}}</span>
              <span
                *ngIf="f.emailConfirmReg.errors.mustMatch && !f.emailConfirmReg.errors.email">{{'e-mail-must-match' | translate}}</span>
            </mdb-error>
            <mdb-success *ngIf="f.emailConfirmReg.valid && (f.emailConfirmReg.dirty || f.emailConfirmReg.touched)">
              {{'e-mail-valid' | translate}}
            </mdb-success>
          </div>
        </div>
      </div>

      <div class="form-row">
        <!-- Password -->
        <div class="col">
          <div class="md-form mt-0">
            <input mdbInput type="password" id="materialRegisterFormPassword" class="form-control"
              aria-describedby="materialRegisterFormPasswordHelpBlock" [(ngModel)]="user.password"
              [ngModelOptions]="{standalone: true}" formControlName="passwordLengthReg">
            <label for="materialRegisterFormPassword">{{'password' | translate}}</label>
            <mdb-error
              *ngIf="f.passwordLengthReg.invalid && (f.passwordLengthReg.dirty || f.passwordLengthReg.touched)">
              {{'password-minimum-length' | translate}}</mdb-error>
            <mdb-success
              *ngIf="f.passwordLengthReg.valid && (f.passwordLengthReg.dirty || f.passwordLengthReg.touched)">
              {{'password-valid' | translate}}</mdb-success>
          </div>
        </div>
        <!-- Password confirmation -->
        <div class="col">
          <div class="md-form mt-0">
            <input mdbInput type="password" id="materialRegisterFormPasswordConfirmation" class="form-control"
              aria-describedby="materialRegisterFormPasswordHelpBlock" formControlName="passwordConfirmReg">
            <label for="materialRegisterFormPasswordConfirmation">{{'password-confirm' | translate}}</label>
            <mdb-error *ngIf="f.passwordConfirmReg.invalid && (f.passwordConfirmReg.dirty || f.passwordConfirmReg.touched)
              && !(f.passwordConfirmReg.errors && f.passwordConfirmReg.errors.mustMatch)">
              {{'password-minimum-length' | translate}}</mdb-error>
            <mdb-error *ngIf="f.passwordConfirmReg.errors && f.passwordConfirmReg.errors.mustMatch &&
              (f.passwordConfirmReg.dirty || f.passwordConfirmReg.touched)">
              {{'password-must-match' | translate}}</mdb-error>
            <mdb-success *ngIf="f.passwordConfirmReg.valid && (f.passwordConfirmReg.dirty || f.passwordConfirmReg.touched) &&
              !(f.passwordConfirmReg.errors && f.passwordConfirmReg.errors.mustMatch)">
              {{'password-valid' | translate}}</mdb-success>
          </div>
        </div>
      </div>

      <!-- Phone number -->
      <div class="md-form mt-0">
        <input mdbInput type="text" id="materialRegisterFormPhone" class="form-control"
          aria-describedby="materialRegisterFormPhoneHelpBlock" [(ngModel)]="user.phoneNumber"
          [ngModelOptions]="{standalone: true}" formControlName="phoneNumberReg">
        <label for="materialRegisterFormPhone">{{'phone-number' | translate}}</label>
        <mdb-error *ngIf="f.phoneNumberReg.invalid && (f.phoneNumberReg.dirty || f.phoneNumberReg.touched)">
          {{'phone-number-invalid' | translate}}</mdb-error>
        <mdb-success *ngIf="f.phoneNumberReg.valid && (f.phoneNumberReg.dirty || f.phoneNumberReg.touched)">
          {{'phone-number-valid' | translate}}</mdb-success>
      </div>

      <!-- Newsletter -->
      <div class="form-check">
        <input mdbInput type="checkbox" class="form-check-input" id="materialRegisterFormNewsletter">
        <label class="form-check-label"
          for="materialRegisterFormNewsletter">{{'subscribe-newsletter' | translate}}</label>
      </div>


      <!-- Sign up button -->
      <button class="btn btn-info btn-block my-4" type="submit" [disabled]="!registerForm.valid">
        {{'sign-up!' | translate}}
      </button>

      <!-- Register -->
      <p>{{'a-member' | translate}}
        <a (click)="switchForm()">{{'sign-in!' | translate}}</a>
      </p>
      <hr>

      <!-- Terms of service -->
      <div class="app-inline-flex">
        <p [innerHTML]="'term-of-service-tag' | translate">
        </p>
        <a href="" target="_blank">{{'term-of-service-s' | translate}}</a>
      </div>
    </form>
    <!-- Form -->

  </div>

</div>
<!-- Material form register -->
