<!-- Collapse buttons -->
<button mdbBtn color="primary" class="waves-light" type="button" (click)="addAcountType.toggle()" mdbWavesEffect>
  {{"accountTypes.add" | translate | uppercase}}
</button>
<button mdbBtn color="primary" class="waves-light" type="button" (click)="userList.toggle()" mdbWavesEffect>
  {{"users.list" | translate | uppercase}}
</button>

<div class="" mdbCollapse #addAcountType="bs-collapse">
  <!-- Form -->
  <form [formGroup]=" newAccountType" class="text-center" style="color: #757575;" (ngSubmit)="addAccountType()"
    action="#!">

    <!-- Name -->
    <div class="md-form">
      <input mdbInput type="text" id="materialnewAccountTypeName" class="form-control" formControlName="roleName">
      <label for="materialnewAccountTypeName">{{"accountTypes.name" | translate}}</label>
    </div>

    <button class="btn btn-info btn-block my-4" type="submit">
      {{"accountTypes.addConfirm" | translate | uppercase}}
    </button>
  </form>
</div>

<div class="" mdbCollapse #userList="bs-collapse">
  <app-user-list></app-user-list>
</div>
