<form [formGroup]="userForm" (ngSubmit)="send(userForm.value)">
  <label>Name </label>
  <br>
  {{userForm.value | json}}
  <div formGroupName="questionsModel">
    <input type="text" formControlName="text">
  </div>
  <br>
  <br>
  <div>
    <div formArrayName="answersModel">
      <div *ngFor="let answerModel of userForm.get('answersModel')['controls']; let i=index">
        <div [formGroupName]="i">
          <label>TEXT {{i}} </label>
          {{answerModel.value | json}}
          <input type="text" formControlName="text" placeholder="text">
          <input type="text" formControlName="points" placeholder="points">
          <input type="text" formControlName="is_correct" placeholder="is_correct">
          <button (click)="removePhone(i)">Remove Phone</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <button (click)="patch()">Add new phone</button>
  <br>
  <br>
  <input type="submit">
</form>
<br>

{{userForm.value | json}}
