<div class="card-body px-lg-5 pt-0">
  <h6 class="text-center">{{"quiz.creator" | translate | uppercase}}</h6>
  <form [formGroup]="userForm" (ngSubmit)="send(userForm.value)">
    <button (click)="loadValues()" mdbBtn color="primary" class="waves-light" type="button" mdbWavesEffect> test
      ladowania wartosci </button>
    <button (click)="newQuestion(userForm.value.questionsJsonModel)" mdbBtn color="primary" class="waves-light"
      type="button" mdbWavesEffect>{{"quiz.addQuestion" | translate}}</button>
    <div formArrayName="questionsJsonModel" class="card-body">
      <div *ngFor="let questionJsonModel of userForm.get('questionsJsonModel')['controls']; let questionIndex=index"
        class="card- body card">
        <div [formGroupName]="questionIndex">
          <button class="btn btn-danger" type="submit" (click)="removeQuestion(questionIndex)"
            [disabled]="questionIndex<1">{{"quiz.removeQuestion" | translate}}</button>
          <div formGroupName="questionsModel" class="md-form">
            <textarea type="text" formControlName="text" class="md-textarea md-textarea-auto form-control" mdbInput
              id="question-{{questionIndex+1}}"></textarea>
            <label
              for="question-{{questionIndex+1}}">{{("quiz.questionNumber" | translate) + (questionIndex + 1)}}</label>
          </div>
          <div>
            <div formArrayName="answersModel">
              <div *ngFor="let answerModel of userForm.get('questionsJsonModel')['controls'][questionIndex]['controls']['answersModel']['controls'];
                let answerIndex=index">
                <div [formGroupName]="answerIndex" class="md-form">
                  <input type="text" formControlName="text" mdbInput class="form-control"
                    id="textAnswer.{{questionIndex}}.{{answerIndex}}">
                  <label for="textAnswer.{{questionIndex}}.{{answerIndex}}">{{'e-mail' | translate}}</label>
                  <input type="text" formControlName="points" placeholder="points" mdbInput class="form-control">
                  <input type="text" formControlName="is_correct" placeholder="is_correct" mdbInput
                    class="form-control">
                  <button class="btn btn-danger" type="submit" (click)="removeAnswer(questionIndex, answerIndex)"
                    [disabled]="answerIndex<1">
                    {{'quiz.removeAnswer' | translate}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-info btn-block my-4" type="submit" (click)="addAnswer(questionIndex)">
          {{'quiz.addAnswer' | translate}}
        </button>
      </div>
    </div>
  </form>
  <button class="btn btn-success btn-block my-4" type="submit">
    {{'quiz.save' | translate}}
  </button>
  <br>

  {{userForm.value | json}}
</div>